@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* themming */
:root {
  /* colors */
  --blue: #023979;
  --blue__light: #3a82d4;
  --blue__dark: #0d2c50;
  --filterto__blue__light: invert(44%) sepia(94%) saturate(561%) hue-rotate(178deg) brightness(87%) contrast(89%);

  --red: #701003;
  --red__light: #d41900;
  --red__dark: #290a06;
  --filterto__red: invert(12%) sepia(50%) saturate(4086%) hue-rotate(353deg) brightness(94%) contrast(106%);

  --purple: #30319c;
  --purple__light: #575bd1;
  --purple__dark:  #190e5a;
  --filterto__purple: invert(16%) sepia(34%) saturate(5543%) hue-rotate(228deg) brightness(102%) contrast(93%);
  
  --white: #F7F4F2;
  --filterto__white: invert(100%) sepia(0%) saturate(5669%) hue-rotate(263deg) brightness(118%) contrast(91%);

  --black: #2d2d2d;
  --filterto__black: invert(12%) sepia(16%) saturate(29%) hue-rotate(321deg) brightness(96%) contrast(84%);
  
  /* menu colors */
  --menu-bg-default: var(--white);
  --menu-bg-scrolled: var(--blue);
  
  /*font weigths*/
  --weight__light: 300; 
  --weight__lite: var(--weight__light); /*sintax variation*/
  --weight__regular: 400;
  --weight__normal: 400;
  --weight__semibold: 600;
  --weight__bold: 700;
  --weight__black: 700;
  
  /*font family*/
  --font__custom-family: "Open Sans";
  --font__family: var(--font__custom-family), "Segoe UI", Candara, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Arial,sans-serif;
  
  /*font sizes*/
  --size__small: 0.8rem;
  --size__menu: 0.825rem;
  --size__normal: 1rem;
  --size__regular: var(--size__normal);
  --size__large: 2rem;
  --size__xlarge: 2.5rem;
  --size__xxlarge: 3.5rem;

  /*other custom properties */
  --max-container-width: 960px;
  --gap: 16px;
}


* {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: -0.5px;
  font-family: var(--font__family);
}

a {
  color: inherit;
  text-decoration: none;
}

/* grid system */

.container,
.container-full {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #00000000;
  }
  .container {
    max-width: var(--max-container-width);
  }
  .container-full {
    width: 100vw;
    max-width: 100vw;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .col {
    margin: calc(var(--gap) / 2);
    display: flex;
    flex-direction: column;
  }
  .col img {
      display: block;
      width: 100%;
      height: auto;
  }
 
  .col.w25 {
    flex-basis: calc(25% - (var(--gap) * 2));
    flex-grow: 1;
  }
  .col.w30,
  .col.w33 {
    flex-basis: calc(33% - (var(--gap) * 2));
    flex-grow: 1;
  }
  .col.w50 {
    flex-basis: calc(50% - (var(--gap) * 2));
    flex-grow: 1;
  }
  
  /* breakpoints */
  @media (max-width: 360px) {
    .row {
      flex-direction: column;
    }
    .col {
      margin: var(--gap);
    }
  }
  
  @media (max-width: 768px) {
    .col.w25,
    .col.w30,
    .col.w33 {
      flex-basis: calc(50% - (var(--gap) * 2));
    }
    .col.w50 {
      flex-basis: 100%;
    }
  }
  
