.content {
    h1 { 
        color: var(--black);
        font-size: 2.4rem; 
        font-weight: var(--font-regular);
        line-height: 3rem;
        margin-bottom: 0;
        text-align: center;

    }
    h2 {
        color: var(--red);
        font-size: 1rem;
        font-weight: var(--font-light);
        text-align: center;
        text-transform: uppercase;
    }
    ul {
        list-style: square inside;
        margin: 0;
        margin-bottom: 32px;
        padding: 0;
    }

}
.button {
    block-size: fit-content;
    width: fit-content;
    text-align: center;
    img {
        height: auto;
        margin-right: 8px;
        width: 24px;
    }
}
.primary {
        padding: 16px 24px;
        color: var(--white);
        border-top: 2px var(--purple-light) solid;
        border-left: 2px var(--purple-light) solid;
        border-bottom: 2px var(--purple) solid;
        border-right: 2px var(--purple) solid;
        background: var(--purple);
        background-size: cover;
        font-size: 1rem;
        font-weight: var(--font-semibold);
        border-radius: 9999px;
        outline: none;
        display: inline-block;
        width: 160px;
        max-width: 100%;
        transition: all 100ms linear;

        &:hover {
            color: var(--white);
            background-color: var(--red);
            background-image: url('/images/button__bg__veins.png');
            transition: all 200ms linear;
            border: 2px solid var(--red);
        }
    }

.secondary {
    max-width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
    border-radius: 9999px;
    border: 2px solid var(--blue-light);
    color: var(--blue-light);
    padding: 6px 12px;

    img {
        filter: var(--filter-blue-light);
    }

    &:hover {
        border: 2px solid var(--red);
        color: var(--red);

        img {
            filter: var(--filter-red);
        }
    }
}

.hero {
    background: linear-gradient(0deg, rgba(254, 242, 229, 0.8), rgba(254, 242, 229, 0.8)), url(../public/images/brand__pattern.png);
    background-size: 250px 250px;
    min-height: 85vh;
    padding: 80px 16px 80px 16px;

    @media(min-width: 768px) {
        justify-content: center;
    }
    h1, h2 {text-align: left;}
    h1 {
        font-size: 3rem;
        line-height: 3.3rem;
        margin-bottom: 0px;
    }
    h2 {
        text-transform: none;
        font-size: 1.8rem;
        font-weight: var(--font-semibold);
        margin-bottom: 0;
    }
    h1, h2, p {
        padding-right: 56px;
    }
    h3 {
        font-weight: var(--font-bold);
        font-size: var(--font-small);
        margin: 0;
        padding: 0;
    }

    img {
        max-width: 400px;
        margin: 0 auto;
    }
}

#areas {
    min-height: 100vh;
    padding: 80px 16px 80px 16px;
    background-color: var(--white);
    box-shadow: inset 0px 4px 119px rgba(132, 23, 29, 0.27);
    display: flex;
    justify-content: center;

    a { 
        margin: 16px auto;
        @media(min-width: 768px) {
            margin: 16px 0;
        }
    }

    .areas__text {
        justify-content: center;
        order: 1;
        max-width: 360px;
        margin: 16px auto;
        
        h3 { margin: 0px; padding: 0; font-size: 1rem; }
        ul { margin: 8px 0px 16px 0px; }
        li { font-size: 0.9rem; }
    }
    .areas__ilustracao {
        align-items: center;
        justify-content: center;
        order: 0;
        width: 100%;
        img {
            width: 75%;
            max-width: 360px; 
            padding: 0;
            margin: 0 auto;
       }
    }
    
    h2 {
      margin-bottom: 48px;  
    }


    @media(min-width:768px) {        
        .areas__text {
            order: 0;
            flex-basis: calc(40% - (var(--gap)*2));
        }
        .areas__ilustracao { 
            flex-basis: calc(60% - (var(--gap)*2));
            order: 1;  
            justify-content: center;
            padding: 0;
            img { 
                width: 100% !important;
                height: auto;
                max-width: none;
            }      
        }
    }
}

#formacao {
    min-height: 100vh;
    padding: 80px 16px;
    background-color: white;
    background-image: url("/images/section_formacao_background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;

    h2 { margin-bottom: 48px; }
    .formacao__logos {
        display: flex;
        justify-content: center;
        max-width: 380px; 
        margin: 16px auto;

        .logo-epm {
            width: 25%;
            height: auto;
            margin-right: 8px;
        }
        .logo-unifesp {
            width: 55%;

        }
    }
    .formacao__cursos {
        max-width: 380px;
        margin: 16px auto;
        ul {
            list-style: none;
            li:before {
                content: '🎓';
            }
        }
   }
   .formacao__detalhes {
       max-width: 380px;
       margin: 0 auto;
       a {
           margin: 0 auto;
           margin-top: 32px;
           @media(min-width: 768px) {margin: 0;}
       }
   }
}
#publicacao {
    align-items: center;
    background-color: var(--white);
    box-shadow: inset 0px 4px 119px rgba(132, 23, 29, 0.27);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:80vh;

    .publicacao__livro {
        height: auto;
        margin: 64px auto 0 auto;
        max-width: 400px !important;
        width: 90%;
    }

    h1 { 
        margin: 64px 0 32px 0;
        @media(min-width: 768px) { text-align: left; }
    }
    
    .buttons {
        align-self: center;
        display: flex;
        flex-direction: row;
        margin-top: 16px;
        @media(min-width: 768px) { 
            align-self: flex-start;
        }
    }

    .publicacao__text {
        max-width: 480px;
        margin: 0 auto 48px auto;
        padding: 0 32px;
    }
}
#atendimento {
    background-color: var(--white);
    h1 {
        margin: 64px 0 32px 0;
    }

    .col {
        display: flex;
    }
    .col img {
        flex-basis: 100%;
        width: 100px;
        margin: 0 auto;
    }
    h3 {
        text-align: center;
        font-weight: 100;
     }

     .atendimento__logo {
         height: 90px;
         margin-top: 32px;
     }
}

#call_to_action {

    align-items: center;
    backdrop-filter: blur(15px);
    background:rgba(184, 212, 255, 0.5); 
    border-radius: 16px;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25), inset 1px 1px 2px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 960px;
    padding: 32px 8px 8px 8px;  
    transform: translateY(48px);  
    width: calc(100vw - 64px);

    @media(min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        margin: 16px auto;

        .cta__icon { 
            display: flex;
            flex: 1 1 100%;
            justify-content: center;
        }

        .cta__message {
            text-align: left !important;
        }
        .cta__address {
            flex-direction: row;
            flex-direction: row !important;
            text-align: left !important;
        }
        div {
            padding: 0px 8px;
            width: 30%;
        }
    }

        .cta__icon { 
            margin: 16px auto; 
        }
        .cta__message {
            font-size: var(--font-small);
            display: inline;
            margin: 16px 0;
            text-align: center;
            max-width: 350px;
        }
        .cta__address { 
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 16px 0;
            text-align: center;
            img {
                margin: 8px; 
                width: 16px;
            }
            p {
                margin: 0; padding: 0 0 0 4px;
                font-size: var(--font-small);
            }
        }
        .cta__button {
            a {
                margin: 16px auto;
                width: 100%;
                max-width: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

#footer {
    padding: 64px 16px;
    text-align: center;
    color: var(--white);
    background-color: var(--blue);
    background: linear-gradient(180deg, #103F86 0%, #072045 100%);
    box-shadow: 0px -15px 73px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    
    a {
        font-size: 1rem;
        &:after {
            content: ' ▲'
        }
    }
    img {
        width: 80%;
        max-width: 350px;
        height: auto;
        margin: 16px auto 32px auto;

    }

    p {
        max-width: 640px;
        opacity: 0.8;
    }
}

