@import './mixins.scss';

.content {
    h1 { 
        color: var(--black);
        font-size: 2.4rem; 
        font-weight: var(--weight__regular);
        line-height: 3rem;
        margin-bottom: 0;
        text-align: center;
        letter-spacing: -1.5px;
    }
    h2 {
        color: var(--red);
        font-size: 1rem;
        font-weight: var(--weight__semibold);
        text-align: center;
        text-transform: uppercase;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    ul {
        list-style: square inside;
        margin: 0;
        margin-bottom: 32px;
        padding: 0;
    }

}

.button {
    block-size: fit-content;
    width: fit-content;
    text-align: center;
    outline: none;
    img {
        height: auto;
        margin-right: 8px;
        width: 24px;
    }
}

.primary {
        display: inline-block;
        width: 160px;
        max-width: 100%;
        padding: 16px 24px;
        font-size: var(--size__regular);
        font-weight: var(--weight__semibold);
        white-space: nowrap;
        background-size: cover;
        background: var(--purple);
        color: var(--white);
        border-top: 2px solid var(--purple__light);
        border-left: 2px solid var(--purple__light);
        border-bottom: 2px solid var(--purple__dark);
        border-right: 2px solid var(--purple__dark);
        border-radius: 9999px;
        transition: all 100ms linear;


        &:hover {
            background-color: var(--red);
            background-image: url('/images/button__bg__veins.png');
            border-top: 2px solid var(--red__light);
            border-right: 2px solid var(--red__dark);
            border-bottom: 2px solid var(--red__dark);
            border-left: 2px solid var(--red__light);
            color: var(--white);
            transition: all 200ms linear;
        }
    }

.secondary {
    max-width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
    border-radius: 9999px;
    border: 2px solid var(--blue__light);
    color: var(--blue__light);
    padding: 6px 12px;
    transition: all 1500ms ease;
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;

    img {
        filter: var(--filterto__blue__light);
        transition: all 1500ms ease;
        width: 18px;
    }

    &:hover {
        border: 2px solid var(--red);
        color: var(--red);
        transition: all 200ms ease;

        img {
            filter: var(--filterto__red);
            transition: all 200ms ease;
        }
    }

    @include phone__s { 
        max-width: 180px;
        img { width: 24px; }
    }
}

.hero {
    position: relative;
    --color__from: rgba(255, 231, 211, 0.644);
    --color__to:  rgba(226, 226, 226, 0.657);
    background-color: var(--color__from);
    height: 100vh;
    width: 100%;
    padding: 80px 16px 80px 16px;
    overflow: hidden;

    h1 {
        font-size: 2rem;
        line-height: 2.3rem;
        margin-bottom: -8px;
        font-weight: var(--weight__semibold);
        text-align: left;
        @include phone__s {
            font-size: 2.5rem;
        }
    }
    h2 {
        text-transform: none;
        font-size: 1rem;
        font-weight: var(--weight__semibold);
        margin-bottom: 16px;
        text-align: left;
        width: 75%;
        @include phone__s {
            width: 100%;
            font-size: 1.5rem;
        }
    }

    h3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        margin-top: -12px;
        font-weight: var(--weight__bold);
        font-size: var(--size__small);
        text-align: left;
        spam {
            margin-right: 8px;
        }

        @include phone__s {
            flex-direction: row;
            width: 75%;
        }        
    }

    p {
        z-index: 1;
        display: none; 

        @include phone__s {
            width: 75%;
            display: block;
        }
    }

    a.button { 
        z-index: 1;
        margin: 32px auto 0 auto;
        @include phone__s {
            margin: 0px 0px 8px -8px;
            border: 1px;
        }
    }

    img {
        position: absolute;
        bottom: 0;
        left: 35%;
        max-height: 70%;
        width: auto;
        filter: drop-shadow(-8px 8px 10px #00000044);
        @include phone__s  { left: 20%; };
        @include tablet    { left: 40%;}
        @include laptop__s { 
            left: 55%;
            max-height: 80%;
        }
    }
    
    .video__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -3;
        object-fit: fill;

        video {
          object-fit: cover;
          position: absolute;
          top: 0; 
          left: 50%;
          transform: translateX(-50%);  
          height: 100%;
          @include laptop__s {
              height: 150%;
          }
          
        }
    }

    @include tablet {
        h1 {
            font-size: 3rem;
            line-height: 3.3rem;
        }
        h2 {
            font-size: 1.8rem;  
        }
        .container { 
            justify-content: center;
            padding-top: 64px;
            .col {
                margin: 0;
                padding-left: 32px;
               p { 
                    width: 100%;
                }
            }
        }
    }

    @include desktop {
        height: 90vh;
        .container.col { padding: 0; }
    }
}

#areas {
    min-height: 100vh;
    padding: 80px 16px 80px 16px;
    background-color: var(--white);
    box-shadow: inset 0px 4px 119px var(--red__dark);
    display: flex;
    justify-content: center;

    a { 
        margin: 16px auto;
        @include tablet {
            margin: 16px 0;
        }
    }

    .areas__text {
        justify-content: center;
        order: 1;
        max-width: 360px;
        margin: 16px auto;
        
        h3 { margin: 0px; padding: 0; font-size: 1rem; }
        ul { 
            list-style-position: outside;
            padding-left: 16px;
            margin: 8px 0px 16px 0px;
        }
        li { 
            font-size: 0.9rem;
         }
    }
    .areas__ilustracao {
        align-items: center;
        justify-content: center;
        order: 0;
        width: 100%;
        img {
            width: 75%;
            max-width: 360px; 
            padding: 0;
            margin: 0 auto;
       }
    }
    
    h2 {
      margin-bottom: 48px;  
    }


    @media(min-width:768px) {        
        .areas__text {
            order: 0;
            flex-basis: calc(40% - (var(--gap)*2));
        }
        .areas__ilustracao { 
            flex-basis: calc(60% - (var(--gap)*2));
            order: 1;  
            justify-content: center;
            padding: 0;
            img { 
                width: 100% !important;
                height: auto;
                max-width: none;
            }      
        }
    }
}

#formacao {
    min-height: 100vh;
    padding: 80px 16px;
    background-color: var(--white);
    background-image: url("/images/section_formacao_background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;

    h2 { margin-bottom: 48px; }

    .formacao__logos {
        display: flex;
        justify-content: center;
        max-width: 380px; 
        margin: 16px auto;

        img {
            width: 100%;
        }
        .logo-epm {
              width: 25%;
        }
        .logo-unifesp {
            width: 55%;
        }
    }
    .formacao__cursos {
        max-width: 380px;
        margin: 16px auto;
        ul {
            list-style: none;
            li:before {
                content: '🎓';
            }
        }
   }
   .formacao__detalhes {
       max-width: 380px;
       margin: 0 auto;
       a {
           margin: 0 auto;
           margin-top: 32px;
           @media(min-width: 768px) {margin: 0;}
       }
   }
}
#publicacao {
    align-items: center;
    background-color: var(--white);
    box-shadow: inset 0px 4px 119px var(--red__dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:80vh;

    
    h1 { 
        margin: 16px auto;
    }

    h2 { 
        margin: 0px auto 32px auto; 
        max-width: 95%;
        @include tablet { margin-bottom: 80px; max-width: 50%;}
    }
    .buttons {
        align-self: center;
        display: flex;
        flex-direction: row;
        margin-top: 16px;
        @include tablet { 
            align-self: flex-start;
        }
    }
    
    .publicacao__livro {
        height: auto;
        margin: 0 auto;
        
        img {
            width: 80%;
            transform: translateX(16px);
            @include tablet ()
        }
    }
    .publicacao__text {
        max-width: 480px;
        margin: 0 auto 48px auto;
        padding: 0 32px;
    }
}
#atendimento {

    position: relative;

    &:before {
        position: absolute;
        content: '';
        top: 0; left: 0;
        bottom: -64px; right: 0;
        background-color: #fdddbdbe;
        background-image: url(/images/background___davinci-3.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        z-index: -1;
        opacity: 0.5;
    }

    h1 {
        margin: 64px 0 32px 0;
    }

    .col {
        display: flex;
    }
    .col img {
        flex-basis: 100%;
        width: 100px;
        margin: 0 auto;
    }
    h3 {
        text-align: center;
        font-weight: 100;
     }

     .atendimento__logo {
         height: 90px;
         margin-top: 32px;
     }
}

#call_to_action {
    position: relative;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25), inset 1px 1px 2px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 960px;
    padding: 32px 8px 8px 8px;  
    transform: translateY(48px);  
    width: calc(100vw - 64px);
    overflow: hidden;
    backdrop-filter: blur(15px);
 
    @media(min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        margin: 16px auto;

        .cta__icon { 
            display: flex;
            flex: 1 1 100%;
            justify-content: center;
        }

        .cta__message {
            margin-block-start: 0 !important;
            margin-top: 0;
            padding-top: 0;
            text-align: left !important;
        }
        .cta__address {
            flex-direction: row;
            flex-direction: row !important;
            text-align: left !important;
        }
        div {
            padding: 0px 8px;
            width: 30%;
        }
    }

        .cta__icon { 
            margin: 16px auto; 
        }
        .cta__message {
            font-size: var(--size__small);
            display: inline;
            margin: 16px 0;
            text-align: center;
            max-width: 350px;
            img {
                width: 24px;
                height: 24px;
                transform: translate(-6px,6px);
            }
        }
        .cta__address { 
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 16px 0;
            text-align: center;
            img {
                margin: 8px; 
                width: 16px;
            }
            p {
                margin: 0; padding: 0 0 0 4px;
                font-size: var(--size__small);
            }
        }
        .cta__button {
            a {
                margin: 16px auto;
                width: 100%;
                max-width: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
       
        &:before {
            background-color: var(--blue__light); 
            opacity: 0.5; 
            backdrop-filter: blur(15px);
            border-radius: 16px;
            position: absolute;
            top: -16px; left: 0; bottom: 0; right: 0;
            content: '';
            z-index:-1;
        } 
    }

#footer {
    padding: 64px 16px;
    text-align: center;
    color: var(--white);
    background-color: var(--blue);
    background: linear-gradient(180deg, #103F86 0%, #072045 100%);
    box-shadow: 0px -15px 73px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    
    a {
        font-size: 1rem;
        &:after {
            content: ' ▲'
        }
    }
    img {
        width: 80%;
        max-width: 350px;
        height: auto;
        margin: 16px auto 32px auto;

    }

    p {
        max-width: 640px;
        opacity: 0.8;
    }
}

