.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background-color: var(--white);
    z-index: 1000;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    li {
        margin: 8px 16px;
        a {
            font-weight: bold;
            color: var(--blue);
            &:hover {
                color: var(--red);
            }
        }
    }
}

.content {
    h1 { 
        font-size: 2.8rem; 
        line-height: 2rem;
        margin-bottom: 0;
        text-align: center;
        color: var(--black);
        font-weight: var(--font-regular);

    }
    h2 {
        font-size: 1rem;
        font-weight: var(--font-light);
        text-transform: uppercase;
        color: var(--red);
        text-align: center;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: square inside;
        margin-bottom: 32px;
    }

}
.button {
    img {
        width: 24px;
        height: auto;
        margin-right: 8px;
    }
}
.primary {
        padding: 16px 24px;
        color: var(--white);
        border-top: 2px var(--purple-light) solid;
        border-left: 2px var(--purple-light) solid;
        border-bottom: 2px var(--purple) solid;
        border-right: 2px var(--purple) solid;
        background-color: var(--purple);
        font-size: 1rem;
        font-weight: var(--font-semibold);
        border-radius: 9999px;
        outline: none;
        display: inline-block;
        width: 160px;
        max-width: 100%;
        transition: all 100ms linear;

        &:hover {
            color: var(--white);
            background-color: var(--red);
            transition: all 200ms linear;
            border: 2px solid var(--red);
        }
    }

.secondary {
    max-width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;

    &:hover {
        outline: 2px solid var(--black);
    }
}

.container, .container-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.container-full {
    max-width: 100vw;
}

.row {
    display: flex;
    flex-direction: column; 
    flex: 1 1 100%;
    @media(min-width: 767px) {
        flex-direction: row;
    }
}
.col {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero {
    background-image: url(../public/images/brand__pattern.png);
    background-size: 150px 150px;
    min-height: 100vh;
    padding: 160px 16px 80px 16px;

    h1, h2 {text-align: left;}
    h1 {
        font-size: 3rem;
        line-height: 3.3rem;
        margin-bottom: 0px;
    }
    h2 {
        text-transform: none;
        font-size: 1.8rem;
        font-weight: var(--font-semibold);
    }
    h1, h2, p {
        padding-right: 56px;
    }
}

#areas {
    min-height: 100vh;
    padding: 80px 16px 80px 16px;
    background-color: var(--white);
}

#formacao {
    min-height: 100vh;
    padding: 80px 16px 80px 16px;
    background-color: white;
    background-image: url("/images/section_formacao_background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#call_to_action {
    background: rgba(184, 212, 255, 0.55);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 1px 1px 2px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(76px);
    display: flex;
    flex-direction: column;
    padding: 16px 64px; 
    .cta__icon {
        width: fit-content;
        margin: 0 auto;
     img {
        width: 128px;
        height: auto;
    }

    }
}
#footer {
    padding: 64px 16px;
    text-align: center;
    color: var(--white);
    background-color: var(--blue);
    background: linear-gradient(180deg, #103F86 0%, #072045 100%);
    box-shadow: 0px -15px 73px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    
    a {
        font-size: 1rem;
        &:after {
            content: ' ▲'
        }
    }
    img {
        width: 80%;
        height: auto;
        margin: 16px auto 32px auto;

    }
}
